<html DOCTYPE html>
	<head>
        <meta name="viewport" content="width=device-width, initial-scale=1"> 
		<title>Parallax Site</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
		<link href="stylesheets/style.css" rel="stylesheet"/>
        
		<meta charset="UTF-8">
        
	</head>
	<body>
        <div id="loader">
            <div id="loading"></div>
            <h1 id="loadText">Loading</h1>
		</div>
        
		<div id="wrapper" class="active">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <nav id="spy">
                <ul class="sidebar-nav nav">
                    <li class="sidebar-brand">
                        <a id="home" href="#home">
                            <h3>Home</h3>
                        </a>
                    </li>
                    <li>
                        <a id="about" href="#about" data-scroll>
                            <h3>About</h3>
                        </a>
                    </li>
                    <li>
                        <a id="skills" href="#skills" data-scroll>
                            <h3>Skills</h3>
                        </a>
                    </li>
                    <li>
                        <a id="projects" href="#projects" data-scroll>
                            <h3>Projects</h3>
                        </a>
                    </li>
                    <li>
                        <a id="contact" href="#contact" data-scroll>
                            <h3>Contact</h3>
                        </a>
                    </li>
                   
                    
                </ul>
            </nav>
        </div>

        <!-- Page content -->
        <div id="page-content-wrapper">
            <div class="content-header">
                <h1 id="home">
                    <a id="menu-toggle" href="#" class="glyphicon glyphicon-align-justify btn-menu-inverse toggle">
                        
                    </a>
                </h1>
            </div>

            <div class="page-content" data-spy="scroll" data-target="#spy">