<%- include partials/header.ejs %>


    <div id="main-box"class="main-box">
			<img class="banner" src="images/Banner.png" />
			<img class="code3" src="images/code3.png"/>
		         </div>
		
		              <div class="about">
                         <div class="about-content col-lg-5">
                             <h1>About</h1>
			                 <div>
                             <p>Here's my story.</p>
                             <p>I'm originally from India</p>
                             <p>I started college in Georgian College, Barrie in September, 2014 and enrolled in the Computer Programmer Diploma Program.
				             </p><p>I was given the opportunity to work as a web-designer analyst for Avetti-Commerce, Barrie from May till end of August in 2015.</p>
				             <p>I have also worked as an e-learning developer at the Canadian Army Forces Base, Borden from January till April 2016</p>
                             <p>I completed my Computer Programmer Diploma in August 2016 and am currently looking for full-time employment as a web developer.</p>
                             </div>
                             <br>
                             <a href="resume.doc"><button ng-href="resume.doc" class="btn btn-lg btn-primary"><i class="fa fa-file-text"></i> My Resume</button></a>
                         </div>
		              </div>
                      <div class="skillsLayout">
                      <div class="skills">
			             <h1>Skills</h1>
                         <div class="col-lg-4">
                         <div id="css-bar" class="avatar-container p-0">
                             <img src="images/css.png" class="avatar" />
                         </div>
                         </div>
                         <div class="col-lg-4">
                         <div id="html-bar" class="avatar-container p-0">
                             <img src="images/html.png" class="avatar" />
                         </div>
                         </div>
                         <div class="col-lg-4">
                         <div id="js-bar" class="avatar-container p-0">
                             <img src="images/javascript.png" class="avatar" />
                         </div>
                         </div>
                         
                         
                         <div class="col-lg-6 subskills">
                             <h1>Other Skills</h1>
                             <hr>
                             <p>Java, C++, ASP.NET, Node Js, jQuery, Angular Js, MySQL, NoSQL, DB2, Visual Basic, Visual C#, SASS, PHP, OOP, Arduino ...</p>
                         </div>
                         <div class="col-lg-6 subskills">
                             <h1>Frameworks</h1>
                             <hr>
                             <p>Entity Framework, ADO.NET, LINQ, MVC, Express Framework, Mongo DB, NPM</p>
                         </div>
		              </div>
                      </div>
                      
                      <div class="projects">
                          <h1>Projects</h1>
                          <div class="project-layout">
                          <div class="col-lg-4"><a href="http://comp2007f.azurewebsites.net/"><img class="projectdiv" src="../images/sushiville.jpg" alt="Sushiville"></a><p>Sushi Restaurant Website</p></div>
                          <div class="col-lg-4"><a href="http://lslivesurvey.azurewebsites.net/"><img class="projectdiv"" src="../images/lslivesurvey.jpg" alt="LS survey site"></a><p>Public Survey Site</p></div>
                          <div class="col-lg-4"><img src="../images/vccar.jpg" class="projectdiv" alt="voice controlled car"></a><p>Voice Controlled mini car</p></div>
                          <div></div>
                          </div>
                      </div>
                      
                      <div class="Contact">
                          <h1>Contact</h1>
                          <div class="content">
                              <div id="messageBox" class="col-lg-4">
                              <form action="/" name="contactus" id="contactus" method="POST">
                                <fieldset>
                                    <p>
                                        <label for="name">Name: </label>
                                        <br>
                                        <input type="text" name="name" value="" id="name" style="width:300px;" class="form-control">
                                    </p>
                                    <p>
                                        <label for="email">Email: </label>
                                        <br>
                                        <input type="email" name="email" value="" id="email" style="width:300px;" class="form-control">
                                    </p>
                                    <p>
                                        <label for="message">Message: </label>
                                        <br>
                                        <textarea name="message" class="form-control" style="width:300px;" id="message" cols="40" rows="10"></textarea>
                                    </p>
                                    <p>
                                        <input type="submit" name="submit" style="width:300px; border-radius:7px;height:35px;" class="btn-primary" value="send" id="submit">
                                    </p>
                                </fieldset>
                          </form>
                              </div>
                              <div id="gitBox" class="col-lg-4">
                                  <div class="github-card" data-user="SamSunny95"></div>
                              </div>
                              <div id="instaBox" class="col-lg-4">
                                  <div class="panel panel-default" style="max-width:502px;min-width:352px;">
                                  <div class="panel-heading">Instagram Photos</div>    
                                  <div id="instafeed" class="panel-body" style="padding:2px;"></div>
                                  </div>
                              </div>
                              
                          </div>
                      </div>
                      
                      
<%- include partials/footer.ejs %>