<%- include partials/header.ejs %>


    <div id="mian-box"class="main-box">
			<img class="banner" src="images/Banner.png" />
			<img class="code3" src="images/code3.png"/>
		         </div>
		
		              <div class="about">
			             <h1>About</h1>
			             <p class="typetest"></p>
		              </div>
                      <div class="skills">
			             <h1>Skills</h1>
                         <div id="progress-container"></div>
		              </div>
                      <div class="projects">
                          <h1>projects</h1>
                      </div>
                      <div class="Contact">
                          <h1>Contact</h1>
                      </div>
                      
                      
<%- include partials/footer.ejs %>